<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <input type="text" name="name" id="name" placeholder="Nome" formControlName="name">
    <small class="text-danger" *ngIf="name?.hasError('required') && name?.touched">
        Nome é obrigatório.
    </small>
    <small class="text-danger" *ngIf="name?.hasError('minlength') && name?.touched">
        Nome deve ter pelo menos 3 caracteres.
    </small>
    <small class="text-danger" *ngIf="name?.hasError('maxlength')">
        Nome deve ter no máximo 150 caracteres.
    </small>
    <input type="text" name="email" id="email" placeholder="E-mail" formControlName="email">
    <small class="text-danger" *ngIf="email?.hasError('required') && email?.touched">
        E-mail é obrigatório.
    </small>
    <small class="text-danger" *ngIf="email?.hasError('email') && email?.touched">
        Digite um E-mail válido.
    </small>
    <div class="form-line">
        <div class="form-item">
            <input type="text" name="cpf" id="cpf" placeholder="CPF" formControlName="cpf">
            <div *ngIf="cpf?.touched || cpf?.dirty" class="div-errors">
                <small class="text-danger" *ngIf="cpf?.hasError('required')">
                    CPF é obrigatório.
                </small>
                <small class="text-danger" *ngIf="cpf?.hasError('invalidCpfFormat')">
                    CPF com formato inválido.
                </small>
                <small class="text-danger" *ngIf="cpf?.hasError('invalidCpf')">
                    CPF é inválido.
                </small>
            </div>
        </div>
        <div class="form-item">
            <input type="text" name="phone" id="phone" placeholder="Telefone" formControlName="phone">
            <div *ngIf="phone?.touched || phone?.dirty" class="div-errors">
                <small class="text-danger" *ngIf="phone?.hasError('required')">
                    Telefone é obrigatório.
                </small>
                <small class="text-danger" *ngIf="phone?.hasError('invalidPhone')">
                    Telefone com formato inválido.
                </small>
            </div>
        </div>
    </div>
    <div class="form-line">
        <div class="form-item">
            <input id="cep" placeholder="CEP" formControlName="cep" (blur)="fetchCepData()" />
            <div *ngIf="cep?.touched || cep?.dirty" class="div-errors">
                <small class="text-danger" *ngIf="cep?.hasError('required')">
                    CEP é obrigatório.
                </small>
                <small class="text-danger" *ngIf="cep?.hasError('invalidCepFormat')">
                    CEP com formato inválido.
                </small>
                <small class="text-danger" *ngIf="cep?.hasError('invalidCep')">
                    CEP não encontrado.
                </small>
            </div>
        </div>
        <div class="form-item">
            <input type="text" name="country" id="country" placeholder="País" formControlName="country">
        </div>
    </div>
    <div class="form-line">
        <input id="state" placeholder="Estado" formControlName="state" />
        <input id="city" placeholder="Cidade" formControlName="city" />
    </div>
    <input id="street" placeholder="Rua" formControlName="street" />
    <div class="form-line">
        <input id="numero" placeholder="Número" formControlName="numero" />
        <input id="complemento" placeholder="Complemento" formControlName="complemento" />
    </div>

    <button type="submit">Enviar</button>
    <div *ngIf="statusMessage" class="status-message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
        {{ statusMessage }}
      </div>
</form>