<app-header-cliente></app-header-cliente>
<div id="principal">
  <app-navbar-funcionario></app-navbar-funcionario>
  <main>
    <h3>Solicitações</h3>
    <div class="tabela">
      <table id="table-user">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicosFiltrados">
            <td class="item">{{ servico.id }}</td>
            <td class="item">{{ servico.data }}</td>
            <td class="item">{{ servico.descricaoErro | slice:0:30 }}</td>
            <td class="item">{{ servico.status }}</td>
            <td class="item">
              <button *ngIf="servico.status === 'ABERTA'" (click)="Efetuaorcamento(servico.id)">Efetuar
                Orçamento</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>