<app-header-cliente></app-header-cliente>
<div id="principal">
  <main>
    <div id="container">
      <h1>Efetuar Manutenção</h1>
      <div id="informacoes" *ngIf="servico">
        <h2>Detalhes da Solicitação</h2>

        <div class="item-orcamento">
          <h3>Descrição do Equipamento:</h3>
          <p>{{servico.descricaoEquipamento}}</p>
        </div>

        <div class="item-orcamento">
          <h3>Categoria:</h3>
          <p>{{servico.nomeCategoria}}</p>
        </div>

        <div class="item-orcamento">
          <h3>Defeito:</h3>
          <p>{{servico.descricaoDefeito}}</p>
        </div>

        <h2>Dados do cliente</h2>

        <div id="dados-cliente">
          <div class="item-orcamento">
            <h3>Nome cliente:</h3>
            <p>{{servico.nomeCliente}}</p>
          </div>
          <div class="item-orcamento">
            <h3>E-mail cliente:</h3>
            <p>{{servico.emailCliente}}</p>
          </div>
        </div>
      </div>

      <button *ngIf="!mostrarComboBox" id="button-conserto" class="first_button"
        (click)="openMaintenanceModal()">Efetuar
        Manutenção</button>
      <button *ngIf="!mostrarComboBox" (click)="mostrarRedirecionamento()">Redirecionar</button>

      <!-- ComboBox para Redirecionamento de Funcionário -->
      <div *ngIf="mostrarComboBox" class="item-form">
        <div>
          <h3>Escolher Funcionário para Redirecionamento</h3>
          <select [(ngModel)]="funcionarioSelecionado" class="classic">
            <option *ngFor="let funcionario of funcionarios" [value]="funcionario.nome">
              {{ funcionario.nome }}
            </option>
          </select>
        </div>
        <button (click)="redirecionar()">Confirmar Redirecionamento</button>
      </div>

      <button onclick="history.back()">Voltar</button>
    </div>
  </main>
  <div *ngIf="maintenanceModal" id="maintenance-modal" class="modal" (click)="closeMaintenanceModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div>
        <h2>Deseja efetuar a manutenção {{servico?.id}}?</h2>
        <span class="close-button" (click)="closeMaintenanceModal()">&times;</span>
      </div>
      <input [(ngModel)]="descricaoManutencao" id="maintenance-description"
        placeholder="Descrição da manutenção" type="text" />
      <input [(ngModel)]="orientacoesCliente" id="orientacao-cliente"
        placeholder="Orientações para o cliente" type="text" />
      <button (click)="registrarManutencao()" class="buttons">Efetuar Manutenção</button>
      <button (click)="closeMaintenanceModal()" class="buttons">Cancelar</button>
    </div>
  </div>
</div>