<app-header-cliente></app-header-cliente>
<div id="principal">
  <main>
    <div id="container">
      <h1>Efetuar Manutenção</h1>
      <div id="informacoes" *ngIf="servico">
        <h2 style="padding-bottom: 1dvh;">Detalhes da Solicitação</h2>

        <div class="item-orcamento">
          <h3>Descrição do Equipamento:</h3>
          <p>{{servico.descricaoEquipamento}}</p>
        </div>
        
        <div class="item-orcamento">
          <h3>Categoria:</h3>
          <p>{{servico.nomeCategoria}}</p>
        </div>

        <div class="item-orcamento">
          <h3>Defeito:</h3>
          <p>{{servico.descricaoDefeito}}</p>
        </div>

        <h2 style="padding-bottom: 1dvh;">Dados do cliente</h2>

        <div id="dados-cliente">
          <div class="item-orcamento">
              <h3>Nome cliente:</h3>
              <p>{{servico.nomeCliente}}</p>
          </div>
          <div class="item-orcamento">
              <h3>E-mail cliente:</h3>
              <p>{{servico.emailCliente}}</p>
          </div>
      </div>
      </div>

      <button *ngIf="!mostrarFormulario && !mostrarComboBox" id="button-conserto" class="first_button"
        (click)="efetuarManutencao()">Efetuar
        Manutenção</button>
      <button *ngIf="!mostrarFormulario && !mostrarComboBox" (click)="mostrarRedirecionamento()">Redirecionar</button>

      <div *ngIf="mostrarFormulario" class="item-form">
        <div>
          <h3>Descrição da Manutenção</h3>
          <textarea [(ngModel)]="descricaoManutencao" placeholder="Digite a descrição da manutenção"></textarea>
        </div>
        <div>
          <h3>Orientações para o Cliente</h3>
          <textarea [(ngModel)]="orientacoesCliente" placeholder="Digite as orientações para o cliente"></textarea>
        </div>
        <button (click)="registrarManutencao()">Registrar Manutenção</button>
      </div>

      <!-- ComboBox para Redirecionamento de Funcionário -->
      <div *ngIf="mostrarComboBox" class="item-form">
        <div>
          <h3>Escolher Funcionário para Redirecionamento</h3>
          <select [(ngModel)]="funcionarioSelecionado" class="classic">
            <option *ngFor="let funcionario of funcionarios" [value]="funcionario.nome">
              {{ funcionario.nome }}
            </option>
          </select>
        </div>
        <button (click)="redirecionar()">Confirmar Redirecionamento</button>
      </div>

      <button onclick="history.back()">Voltar</button>
    </div>
  </main>
</div>
