<app-header-cliente></app-header-cliente>
<div id="principal">
    <main>
        <div id="container">
            <h1>Solicitação de Manutenção</h1>
            <form action="#" method="post" [formGroup]="solicForm" (ngSubmit)="onSubmit()">
                <label for="equipmentDescription">Descrição do equipamento</label>
                <input type="text" id="equipmentDescription" name="equipmentDescription" required
                    placeholder="Descrição" formControlName="equipmentDescription">
                <small class="text-danger"
                    *ngIf="equipmentDescription?.hasError('required') && equipmentDescription?.touched">
                    A Descrição do equipamento é obrigatória.
                </small>
                <small class="text-danger"
                    *ngIf="equipmentDescription?.hasError('minlength') && equipmentDescription?.touched">
                    A descrição do equipamento deve ter pelo menos 15 caracteres.
                </small>
                <small class="text-danger" *ngIf="equipmentDescription?.hasError('maxlength')">
                    A descrição do equipamento deve ter no máximo 200 caracteres.
                </small>
                <label for="equipmentCategory">Categoria do equipamento</label>
                <select id="equipmentCategory" name="equipmentCategory" class="dropdown"
                    formControlName="equipmentCategory">
                    <option value="" disabled selected>Selecione uma categoria</option>
                    <option value="eletrico">Desktop</option>
                    <option value="hidraulico">Notebook</option>
                    <option value="mecanico">Impressora</option>
                    <option value="mecanico">Mouse</option>
                    <option value="outros">Teclado</option>
                </select>
                <small class="text-danger"
                    *ngIf="equipmentCategory?.hasError('required') && equipmentCategory?.touched">
                    Categoria é obrigatório.
                </small>
                <label for="defectDescription">Descrição do defeito </label>
                <textarea id="defectDescription" name="defectDescription" required placeholder="Defeito"
                    formControlName="defectDescription"></textarea>
                <small class="text-danger"
                    *ngIf="defectDescription?.hasError('required') && defectDescription?.touched">
                    A descrição do defeito é obrigatória.
                </small>
                <small class="text-danger"
                    *ngIf="defectDescription?.hasError('minlength') && defectDescription?.touched">
                    A descrição do defeito deve ter pelo menos 30 caracteres.
                </small>
                <small class="text-danger" *ngIf="equipmentDescription?.hasError('maxlength')">
                    A descrição do defeito deve ter no máximo 500 caracteres.
                </small>
                <input type="hidden" id="request-date" name="request-date" value="">
                <input type="hidden" id="request-status" name="request-status" value="ABERTA">
                <button>Enviar</button>
            </form>
            <button onclick="history.back()" id="btn-voltar">Voltar</button>
        </div>
    </main>
</div>