<app-header-cliente></app-header-cliente>
<div id="principal">
    <main>
        <div id="container">
            <h1>Orçamento</h1>
            <h1>Detalhes da Solicitação</h1>
            <div id="informacoes" *ngIf="item">
                <div class="item-orcamento">
                    <h3>Descrição do Equipamento:</h3>
                    <p>{{item.maintenanceDetails.descricaoEquipamento}}</p>
                </div>
                <div class="item-orcamento">
                    <h3>Categoria:</h3>
                    <p>{{item.maintenanceDetails.nomeCategoria}}</p>
                </div>
                <div class="item-orcamento">
                    <h3>Defeito:</h3>
                    <p>{{item.maintenanceDetails.descricaoDefeito}}</p>
                </div>
                <div class="item-orcamento" id="price">
                    <h3>Preço Orçado:</h3>
                    <p>{{item.precoOrcado}}</p>
                </div>
            </div>
            <button (click)="aprovarServico()">Aprovar Serviço</button>
            <button (click)="rejeitarServico()">Rejeitar Serviço</button>
            <button onclick="history.back()">Voltar</button>
        </div>
    </main>
</div>