<body>
  <header>
      <div id="icon"></div>
      <div id="header-container">
          <button id="button-back" (click)="goToHomeFuncionario()">Voltar</button>
          <button id="button-dias" (click)="goToRelatorioReceitas()">Visualizar por dia</button>
    </div>
  </header>
  <main>
      <div id="container">
          <div id="header-container">
              <h1>Relatório de Receitas por Categoria</h1>
          </div>
          <div id="report-container">
              <h2>Receitas por Categoria</h2>
              <div id="report-content">
                  <div style="max-height: 300px; overflow-y: auto;">
                      <table id="report-table">
                          <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                            <tr>
                              <th>Data</th>
                              <th>Receita</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let receita of receitasFiltradas">
                              <td>{{ receita.categoria }}</td>
                              <td>R$ {{ receita.valor | number:'1.2-2' }}</td>
                          </tr>
                          </tbody>
                          </table>
                          </div>
                          <div id="total">
                            <h3>Total: {{ calcularTotal() | currency:'BRL' }}</h3>
                        </div>
              </div>
              <button (click)="gerarPDF()">Gerar PDF</button>
          </div>
      </div>
  </main>
</body>

