<!--
<div id="container">
    <h1>Categorias de Equipamentos</h1>
    <div id="category-form">
      <input type="text"  [(ngModel)]="newCategory"  placeholder="Nova Categoria" />
      <button (click)="addCategory()">Adicionar</button>
    </div>
    <div id="category-list">
      <ul>
        <li *ngFor="let category of categories; let i = index" class="category-item">
          <span>{{ category }}</span>
          <div>
            <button (click)="editCategory(i)">Editar</button>
            <button (click)="deleteCategory(i)">Excluir</button>
          </div>
        </li>
      </ul>
    </div>
    <button (click)="goBack()">Voltar</button>
  </div>
-->
