* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --bg-color: radial-gradient(circle at center, var(--gray), var(--black) 60%);
    background: var(--bg-color);
    width: 100vw;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--blue2);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: white;
}

header {
    --bg-color: transparent;
    --height: 4rem;
    --max-height: 4rem;

    background: var(--bg-color);
    height: var(--height);
    max-height: var(--max-height);
    width: 100%;
    padding: 0.5rem 5dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
}

header #icon {
    --bg-color: linear-gradient(135deg, orange, red);

    background: var(--bg-color);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

main {
    --bg-color: transparent;
    height: calc(100dvh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 1%;
    border-radius: 10px;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-bottom: 0.5rem;
}

#budget-info label {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-bottom: 0.5rem;
}

input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--blue2);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

button {
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 15rem;
    background: linear-gradient(135deg, orange, red);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}