* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --bg-color: radial-gradient(circle at center, var(--gray), var(--black) 60%);
    background: var(--bg-color);
}

header {
    --bg-color: transparent;
    --height: 5dvh;
    --max-height: 4dvh;

    top: 0;
    justify-content: space-between;
    color: white;

    width: 98%;
    margin-left: 1%;
    align-items: center;
    position: fixed;
}

main {
    --bg-color: transparent;
    --main-height: 83.5dvh;
    height: 85.5dvh;
    background: var(--bg-color);
    width: 98%;
    display: flex;
    margin-left: 1%;
    margin-top: 13.5dvh;
    color: white;
}

main .main-content {
    margin-left: 1%;
    width: 98%;
    padding-top: 2%;
}

main .main-content h2,h3 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 4dvh;
    padding-bottom: 0.5dvh;
}

main .main-content h2{
    text-align: center;
    font-size: 7dvh;
    margin-bottom: 3dvh;
}

main .main-content .item-detail{
    height: 15dvh;
    width: 50%;
    margin: auto;
}

main .main-content .item-detail p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3.5dvh;
    padding-bottom: 0.5dvh;
    height: 15dvh;
}

main .main-content .item-detail p span {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2dvh;
    padding-bottom: 0.5dvh;
    height: 5dvh;
    padding-left: 3dvh;
}

main .main-content #div-orcamento{
    text-align: end;
}

main .main-content .buttons{
    text-align: center;
    width: 50%;
    height: 5dvh;
    margin: auto;
}

button {
    align-items: center;
    background-clip: padding-box;
    background: linear-gradient(135deg, orange, red);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
    height: 20px;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

