<app-header-cliente></app-header-cliente>
<div id="principal">
  <app-navbar-cliente></app-navbar-cliente>
  <main>
    <h3>Minhas solicitações</h3>
    <div class="tabela">
      <table id="table-user">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td class="item">{{ servico.id }}</td>
            <td class="item">{{ servico.data }}</td>
            <td class="item">{{ servico.descricaoErro | slice:0:30 }}</td>
            <td class="item">{{ servico.status }}</td>
            <td class="item">
              <button *ngIf="servico.status === 'ABERTA'" (click)="visualizarServico(servico.id)">Visualizar
                Serviço</button> <!--Leva para a tela de visualizar-->
              <button *ngIf="servico.status === 'ORÇADA'" (click)="mostrarOrcamento(servico.id)">Aprovar/Rejeitar
                Serviço</button> <!--Leva para a tela de aprovacao-->
              <!--<button *ngIf="servico.status === 'APROVADA'" (click)="visualizarServico(servico.id)">Visualizar Serviço</button> APROVADA: Sem botão de ação-->
              <button *ngIf="servico.status === 'REJEITADA'" (click)="resgatarServico(servico.id)">Resgatar
                Serviço</button> <!--Apenas a acao de resgatar servico -->
              <button *ngIf="servico.status === 'REDIRECIONADA'" (click)="visualizarServico(servico.id)">Visualizar
                Serviço</button> <!--Leva para a tela de visualizar-->
              <button *ngIf="servico.status === 'ARRUMADA'" (click)="pagarServico(servico.id)">Pagar Serviço</button>
              <!--Leva para a tela de visualizar-->
              <button *ngIf="servico.status === 'AGUARDANDO PAGAMENTO'" (click)="pagarServico(servico.id)">Pagar
                Serviço</button> <!--Leva para a tela de pagamento-->
              <button *ngIf="servico.status === 'PAGA'" (click)="visualizarServico(servico.id)">Visualizar
                Serviço</button> <!--Leva para a tela de visualizar-->
              <button *ngIf="servico.status === 'FINALIZADA'" (click)="visualizarServico(servico.id)">Visualizar
                Serviço</button> <!--Leva para a tela de visualizar-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>