<app-header-cliente></app-header-cliente>
<div id="principal">
  <app-navbar-cliente></app-navbar-cliente>
  <main>
    <h3>Minhas solicitações</h3>
    <div class="tabela">
      <table id="table-user">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td class="item">{{ servico.id }}</td>
            <td class="item">{{ servico.dataCriacao }}</td>
            <td class="item">{{ servico.descricaoDefeito | slice:0:30 }}</td>
            <td class="item">{{ servico.nomeStatus }}</td>
            <td class="item">
              <ng-container [ngSwitch]="servico.nomeStatus">
                <button *ngSwitchCase="'ABERTA'" (click)="visualizarServico(servico.id)">
                  Visualizar Serviço
                </button>
                
                <button *ngSwitchCase="'ORCADA'" (click)="mostrarOrcamento(servico.id)">
                  Aprovar/Rejeitar Serviço
                </button>
                
                <button *ngSwitchCase="'REJEITADA'" (click)="resgatarServico(servico.id)">
                  Resgatar Serviço
                </button>
                
                <button *ngSwitchCase="'ARRUMADA'" (click)="pagarServico(servico.id)">
                  Pagar Serviço
                </button>
                
                <span *ngSwitchCase="'APROVADA'"></span>
                
                <button *ngSwitchDefault (click)="visualizarServico(servico.id)">
                  Visualizar Serviço
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
