<main>
  <div id="container">
    <h1>Categorias de Equipamentos</h1>
    <form id="category-form">
      <input type="text" id="category-input" placeholder="Nova Categoria" #categoriaInput>
      <button-material (click)="addCategoria()" [text]="'Adicionar'"></button-material>
    </form>
    <div id="category-list">
      <ul id="categories">
        <li *ngFor="let categoria of categorias" class="category-item">
          <span>{{ categoria }}</span>
          <div>
            <button (click)="editCategoria(categoria)">Editar</button>
            <button (click)="deleteCategoria(categoria)">Excluir</button>
          </div>
        </li>

      </ul>
    </div>

    <button-material [text]="'Voltar'" (click)="goBack()"></button-material>

    <div *ngIf="isEditCategoriaModalOpen" class="modal">
      <div class="modal-content">
        <div>
          <h2>Editar Categoria</h2>
          <span class="close-button" (click)="closeEditModal()">&times;</span>
        </div>
        <input type="text" id="edit-category-input" #editCategoryInput>
        <button (click)="saveCategoriaEditada()">Salvar</button>
      </div>
    </div>

  </div>
</main>