<header>
  <div id="icon"></div>

  <div id="login-container">
    <a (click)="goToLogin()">
      <div id="login">Entrar</div>
    </a>
  </div>
</header>

<main>
  <div class="container">
    <h1>Recuperar Senha</h1>
    <form (ngSubmit)="onRequestPassword()">
      <div class="field">
        <label>Digite seu email:</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="E-mail" required>
      </div>
      <button-material type="submit" text="Enviar"></button-material>
      <div *ngIf="message" class="email-message show">{{ message }}</div>
    </form>
  </div>
</main>

<footer>
  <div id="developers">Desenvolvido por <span>Nome da Equipe</span>.</div>
</footer>
